{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="./assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="content-container">
                <h1> Welcome to Maghreb! </h1>
                    <p>Your one-stop shop for information about using the VATSIM network to travel through the Maghreb airspace. We're glad you're here and hope our tools will be useful and educational for you.</p>
                    <a href="https://vatsim.ma/" title="Maghreb Website" class="md-button">
                        Head back to the Maghreb Website
                    </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block content %}{% endblock %}